__pycache__/
*.py[cod]
*.egg-info/
.venv/

build/
dist/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

config/UserSettings.json
cache/
*.log

PySide6-SiliconUI-*.zip
PySide6-SiliconUI-*.7z
*.zip
*.7z
*.rar

references/